{% extends "base.html" %}


{% block content %}


<div class="container mt-5">


<div class="card shadow p-5">


<h2 class="text-success">

✓ Verified Certificate

</h2>



<h3>

{{certificate.title}}

</h3>



<p>

Talent:

<strong>

{{certificate.talent.user.get_full_name}}

</strong>

</p>



<p>

Event:

{{certificate.event.title}}

</p>



<p>

Issued by:

{{certificate.issued_by.get_full_name}}

</p>



<p>

Certificate Number:

{{certificate.certificate_number}}

</p>



<p>

Issued Date:

{{certificate.issued_at}}

</p>



</div>


</div>


{% endblock %}