{% extends "base.html" %}


{% block content %}


<div class="container mt-5">


<h2>
User Management
</h2>


<hr>



<table class="table table-striped">


<thead>

<tr>

<th>
Username
</th>


<th>
Email
</th>


<th>
Role
</th>


<th>
Status
</th>


<th>
Action
</th>


</tr>

</thead>



<tbody>



{% for user in users %}



<tr>


<td>

{{ user.username }}

</td>



<td>

{{ user.email }}

</td>



<td>

{{ user.role }}

</td>



<td>


{% if user.is_active %}

<span class="badge bg-success">

Active

</span>


{% else %}

<span class="badge bg-danger">

Disabled

</span>


{% endif %}



</td>



<td>



<a href="{% url 'toggle_user_status' user.id %}"

class="btn btn-sm btn-warning">


{% if user.is_active %}

Disable

{% else %}

Enable

{% endif %}


</a>



</td>



</tr>



{% endfor %}



</tbody>


</table>


</div>


{% endblock %}