{% extends "base.html" %}


{% block content %}


<div class="container mt-5">


<div class="card p-4">


<h3>
Invite {{ talent.user.get_full_name }}
</h3>


<form method="post">

{% csrf_token %}


<label class="form-label">

Select Opportunity

</label>


<select name="opportunity"
class="form-select">


{% for opportunity in opportunities %}

<option value="{{ opportunity.id }}">

{{ opportunity.title }}

</option>


{% endfor %}


</select>


<br>


<button class="btn btn-success">

Send Invitation

</button>


<a href="{% url 'talent_profile' talent.id %}"
class="btn btn-secondary">

Cancel

</a>


</form>


</div>


</div>


{% endblock %}